# Setup Enviroment & Use Activate it
### Bash -> source ./venv/bin/activate
### Windows -> .\venv\Scripts\activate

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import path as path
import os

In [13]:
path = os.getcwd()

In [17]:
df = pd.read_csv(path + '\\HRS_data.csv')

In [18]:
df.head()

,rassrecv,h14itot,r13jhours,r14isret,racohbyr,r14ipena,r14jnjob,r14hlthlm,r14peninc,r14peni_n,...,inw8,inw9,inw10,inw11,inw12,inw13,inw14,retire,r14agey_b,ragender
0,1,664920.0,15,42000.0,2,16560.0,6,1,1,1,...,0,0,0,0,0,0,1,0,90,1
1,1,75300.0,6,25200.0,3,0.0,2,1,0,0,...,0,0,0,0,0,0,1,1,77,1
2,1,9000.0,0,9000.0,3,0.0,4,0,0,0,...,0,0,0,0,0,0,1,1,85,1
3,1,20520.0,0,3720.0,3,0.0,4,1,0,0,...,0,0,0,0,0,0,1,1,77,2
4,1,115000.0,30,32400.0,3,0.0,3,1,0,0,...,0,0,0,0,0,0,1,0,78,2

In [19]:
df.describe()

,rassrecv,h14itot,r13jhours,r14isret,racohbyr,r14ipena,r14jnjob,r14hlthlm,r14peninc,r14peni_n,...,inw8,inw9,inw10,inw11,inw12,inw13,inw14,retire,r14agey_b,ragender
count,12190.000000,1.219000e+04,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,...,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000,12190.000000
mean,0.782691,7.590757e+04,26.318130,7217.978494,4.124036,5122.910703,2.849385,0.267432,0.282937,0.331665,...,0.068499,0.064561,0.065463,0.063002,0.079081,0.073339,0.297949,0.533224,65.584906,1.543396
std,0.412432,1.265823e+05,20.067223,7952.711238,1.372481,17536.406803,1.699355,0.442638,0.450444,0.576858,...,0.252610,0.245760,0.247352,0.242977,0.269877,0.260703,0.457376,0.498915,6.422076,0.498134
min,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.000000,1.000000
25%,1.000000,2.264800e+04,0.000000,0.000000,3.000000,0.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,61.000000,1.000000
50%,1.000000,4.480000e+04,32.000000,6000.000000,4.000000,0.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,64.000000,2.000000
75%,1.000000,8.558400e+04,40.000000,12600.000000,5.000000,2100.000000,4.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,68.000000,2.000000
max,1.000000,3.316800e+06,168.000000,228000.000000,7.000000,647400.000000,12.000000,1.000000,1.000000,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,99.000000,2.000000